Bronze_files_to_silver_tables.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"Raw_Lakehouse":{"type":"string"},"Silver_Lakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"Bronze_files_to_silver_tables","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get filenames","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"linkedService":{"name":"Raw_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"31784198-fa9e-4739-8fb8-42aab2189b32","artifactId":"[parameters('Raw_Lakehouse')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation"}}},"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"Iterrate through files","type":"ForEach","dependsOn":[{"activity":"Get filenames","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get filenames').output.childItems","type":"Expression"},"activities":[{"name":"Copy data here","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Raw_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"31784198-fa9e-4739-8fb8-42aab2189b32","artifactId":"[parameters('Raw_Lakehouse')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":{"value":"@item().name","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"sink":{"type":"LakehouseTableSink","tableActionOption":"Append","datasetSettings":{"annotations":[],"linkedService":{"name":"Silver_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"45e865cf-4910-4a4e-9d7d-18f7b5276b36","artifactId":"[parameters('Silver_Lakehouse')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":{"value":"@replace(item().name,'.csv','')","type":"Expression"}}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"50119485-cbd1-417a-9e0f-e08986f010f2","lastPublishTime":"2025-03-24T08:07:37Z"},"dependsOn":[]}]}